*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.container{
    width: 100vw;
    height: 100vh;
}

.container-left{
    margin-top: 200px;
    margin-left: 136PX;
    display: inline-block;
    width: 60%;
}

.container-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

.img{
    position: relative;
    top: 5%;
    right: 23%;

}


h1{
    font-size: 70px;
    line-height: 80px;
    width: 368PX;
}

p{
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540PX;
}

a{
    font-size: 20px;
    line-height: 41px;
    color: #5D5D7D;
    cursor: pointer;
}

nav{
    margin-right: 15px;
    margin-top: 24px;
    margin-left: 45px;
    word-spacing: 50px;
}


button{
    width: 269px;
    height: 62px;
    background:#9499EA ;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: none;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

a:hover{
    opacity: 0.8;
}
a:active{
    opacity: 0.5;
}